.crop-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.controls {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  /* left: %; */
  width: 100%;
  /* padding: 0 16px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
